### Data_types

In [2]:
print(a)

25

In [1]:
a=25
print(a)

25

In [1]:
a = 25

In [3]:
print(c)

NameError: name 'c' is not defined

In [5]:
print(a)

25

In [6]:
a = 100

In [7]:
print(a)

100

In [8]:
# integer:
a = 150
print(a)
print(type(a))

150
<class 'int'>

In [9]:
# float:
a = 150.88
print(a)
print(type(a))

150.88
<class 'float'>

In [10]:
# string:
a = 'datascience'
print(a)
print(type(a))

datascience
<class 'str'>

In [4]:
a="string"
print(a)
print(type(a))

string
<class 'str'>

### Variables_Rules

In [12]:
12a = 150  # Variable shoud not start with a number:

SyntaxError: invalid syntax (2723875671.py, line 1)

In [13]:
# if you want to start a variable with number means use underscore _

_12a = 50
print(_12a)

50

In [14]:
# No space in variables: if you want connect them using underscore _

sharuk khan age = 60

SyntaxError: invalid syntax (1718308130.py, line 3)

In [15]:
sharuk_khan_age = 60  # connect using underscore
print(sharuk_khan_age)

60

In [16]:
a = 100
print(A)

NameError: name 'A' is not defined

In [17]:
# Case sensitive: [Python is a case sensitive language]*****
# variable is a case sensitive:

a = 100
print(A)

NameError: name 'A' is not defined

In [21]:
# Dont use this [!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~] symbols as a variable:

{ = 100

SyntaxError: invalid syntax (1286428097.py, line 2)

In [22]:
a , b , c = 10 , 20.5 , 'datascience'

In [23]:
print(a)

10

In [24]:
print(b)

20.5

In [25]:
print(c)

datascience

In [26]:
print(a , b , c)

10 20.5 datascience

In [6]:
a, b, c = "raju", 10, 23.2
print(a)
print(b)
print(c)
print(a, b, c)

raju
10
23.2
raju 10 23.2

In [27]:
print(abc)

NameError: name 'abc' is not defined

In [28]:
a = 10
b = 20
print(a + b)

30

In [29]:
a = 10
b = a
print(b)
print(a)

10
10

### Deep Dive into Print condition:

In [30]:
print('Datascience')

Datascience

In [31]:
print('kamal')

kamal

In [35]:
# we can use ' ' , " " , """ """ in python version 3:
print('datascience is very popular in 21st centuary:')

datascience is very popular in 21st centuary:

In [36]:
print("datascience is very popular in 21st centuary:")

datascience is very popular in 21st centuary:

In [37]:
print("""datascience is very popular in 21st centuary:""")

datascience is very popular in 21st centuary:

In [41]:
# connect variable with print condition:


# comma : will connect text inside code ' ' and varibales :
# comma is going to provide 1 tab space for you:

age = 26
print('My age is =',age)

My age is = 26

In [7]:
age = 25
print("My age is =", age)

My age is = 25

In [46]:
course = 'datascience'
place = 'topmentor'
access = 'online'

# output = I am learning datascience from topmentor in online
print('I am learning',course,'from',place,'in',access)

I am learning datascience from topmentor in online

In [ ]:
 # can only concatenate str (not "int") to str : [adding]

### Data_type conversion

In [55]:
# convert int to float 
a = 12
print('Integer value = ',a)
print(type(a))
b = float(a)  # value 12 converting to float and saving in variable b know b will be 12.0
print(b)
print(type(b))
print('Float value = ',b)

Integer value =  12
<class 'int'>
12.0
<class 'float'>
Float value =  12.0

In [59]:
# Float to integer:
a = 25.8
print(a)
print(type(a))
b = int(a) # value 25.8 converting to int and saving in variable b know b will be 25
print(b)
print(type(b))

25.8
<class 'float'>
25
<class 'int'>

In [64]:
# int and float to string:
a = 20.5
b = str(a)
print(b)
print(type(b))

20.5
<class 'str'>

In [66]:
# string to int and float :
# string can be converted to int when there is only numbers not text

a = '20'
print(type(a))
b = int(a)
print(type(b))
print(b)

<class 'str'>
<class 'int'>
20

In [67]:
a = '20ab'
print(type(a))
b = int(a)
print(type(b))
print(b)

<class 'str'>

ValueError: invalid literal for int() with base 10: '20ab'

In [68]:
a = '20.5'
print(type(a))
b = float(a)
print(type(b))
print(b)

<class 'str'>
<class 'float'>
20.5

In [56]:
## [+] : using plus we can add text inside the ' ' with variables but variable should be string only:

age = 26
print('My age is'+age)

TypeError: can only concatenate str (not "int") to str

In [70]:

age = 26
print('My age is '+str(age))

My age is 26

In [78]:
salary = 100.2
spend = 20
course = 'Udemy'

# output : I got 100.2 rs salary and learning a course in udemy which charges 20 rs per day

print('I got '+str(salary)+' '+'rs'+' '+'salary'+' '+'and learning a course in '+course+' '+'which charge '+str(spend)+' '+'rs per day')

I got 100.2 rs salary and learning a course in Udemy which charge 20 rs per day

In [10]:
salary=100
spend = 50
course = "DS"
print("I spend "+str(50)+" rupees"+ " of my salary "+ "amount "+str(salary)+ " on the course "+ course)

I spend 50 rupees of my salary amount 100 on the course DS

In [80]:
# % [Not to use bacause consumes lot of space in memory not good in real time]

# int = %d 
# float = %f
# string = %s

age = 26

print('My age is %d'%(age))

My age is 26

# my code

In [81]:
course = 'Datascience'
cost = 10
spend = 34.2

# I am lerning a datascience with 10 rs and spend 34.2 rs

print('I am learning a %s with %d rs and spend %f rs'%(course,cost,spend))

I am learning a Datascience with 10 rs and spend 34.200000 rs

In [11]:
course = "DS"
cost= 10
spend= 50.0
# I am leaning a DS course with 10 rupees and spend 50 rupees on it

print('I am leaning a %s course with %d rupees and spend %f rupees on it'%(course, cost, spend))

I am leaning a DS course with 10 rupees and spend 50.000000 rupees on it

In [82]:
course = 'Datascience'
cost = 10
spend = 34.2

# I am lerning a datascience with 10 rs and spend 34.2 rs

print('I am learning a %s with %d rs and spend %f rs'%(spend,cost,course))

TypeError: must be real number, not str

In [84]:
# Important [using f''--> formating Techniques]

age = 26

print(f'My age is {age}')

My age is 26

In [85]:
course = 'Datascience'
cost = 10
spend = 34.2

# I am lerning a datascience with 10 rs and spend 34.2 rs

print(f'I am learning a {course} with {cost} rs and spend {spend} rs')

I am learning a Datascience with 10 rs and spend 34.2 rs

In [86]:
# .format Technique

age = 26
print('My age is {}'.format(age))

My age is 26

In [88]:
course = 'Datascience'
cost = 10
spend = 34.2

# I am lerning a datascience with 10 rs and spend 34.2 rs

print('I am learning a {} with {} rs and spend {} rs'.format(course,cost,spend))

I am learning a Datascience with 10 rs and spend 34.2 rs

In [13]:
course = 'Datascience'
cost = 10
spend = 34.2

# I am lerning a datascience with 10 rs and spend 34.2 rs

print('I am learning a {} with {} rs and spend {} rs'.format(spend,cost,course))

I am learning a 34.2 with 10 rs and spend Datascience rs

In [16]:

print(f'I am learning a {course} with {cost} rs and spend {spend} rs')
print("I am learning a {} with {} rs and spend {} rs".format(course, cost, spend))

I am learning a Datascience with 10 rs and spend 34.2 rs
I am learning a Datascience with 10 rs and spend 34.2 rs

### operators

In [90]:
#-> +,-,*,/,//,%,pow,=,==,!=,<,>,<=,>=

In [91]:
10 + 20

30

In [92]:
a = 10
b = 20 
print(a + b)

30

In [93]:
a = 10
b = 20 
print(a - b)

-10

In [94]:
a = 10
b = 20 
print(a * b)  # * -> Multiplication

200

In [96]:
a = 20
b = 5 
print(a / b)  # /-> division

4.0

In [19]:
# // floor division means removes decimals 
a = 202
b = 15 
print(a // b)

13

In [98]:
# % -> function takes reminder as output 

a = 23
b = 5

print(a % b)

3

In [27]:
# pow = means power function 

#pow(2,3)
a=2
b=3
print(pow(3,2))

9

In [26]:
pow(2,5)

32

In [ ]:
pow()  # shift + tab  = intelligence, tab -> for complete understanding about method

In [28]:
pow(2,2,5)

4

In [ ]:
# =  : right side value will be given to left side:
a = 10
b = a

In [106]:
# == : will return boolean outcomes 

10 == 10

True

In [107]:
8 == 10

False

In [108]:
# != : returns boolean value 

10 != 5

True

In [109]:
10 > 11

False

In [110]:
10 < 11

True

In [112]:
# >= and <=

10 >= 10

True

In [113]:
11 <= 12

True

In [114]:
11 >=12

False

In [116]:
pow(2,2,5)

4

In [118]:
10 + 20 - 100 * 2

-170

In [119]:
# open jupter notebook
# d:
# jupyter notebook